.skillCardContainer {
    margin: 20px;
    background-color: var(--bg-light);
    border: 1px var(--border) solid;
    border-radius: 1rem;
    padding: 10px;
    img {
        width: 60px;
        height: 60px;
    }
}