.skillsContainer {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skillsBox {
    background-color: #afafaf;
    width: 1050px;
    height: 400px;
    border-radius: 1%;
    button {
        font-family: "JetBrains Mono";
        font-size: 30px;
        color: white;
        background-color: #888383;
        width: 350px;
        height: 64px;
        border: none;
        margin: 0px;
        cursor: pointer;
    }
    button:hover {
            background-color:#b31d1d;
            transition-duration: 400ms;
    }
    li {
      display: inline-block;  
    }
}