.skillsContainer {
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skillsBox {
    background-color: var(--bg);
    width: 1050px;
    min-height: 400px;
    border: solid 1px var(--border-muted);
    border-radius: 1rem;
    overflow: hidden;
    button {
        font-family: "JetBrains Mono";
        font-size: 30px;
        color: var(--text);
        background-color: var(--bg-light);
        width: 350px;
        height: 64px;
        border: none;
        margin: 0px;
        cursor: pointer;
    }
    button:hover {
            background-color: var(--highlight);
            transition-duration: 400ms;
    }
    li {
      display: inline-block;  
    }
}