@font-face {
  font-family: "JetBrains Mono";
  src: url('/fonts/JetBrainsMono-Bold.woff2');
  font-weight: bold;
}

:root {
  color: var(--text); /* #ffffff */
  font-family: "JetBrains Mono";
  background-color: var(--bg-dark);/* #13171B */
  text-align: center;
  scroll-behavior: smooth;

  --bg-dark: oklch(0.1 0.03 270);
  --bg: oklch(0.15 0.03 270);
  --bg-light: oklch(0.2 0.03 270);
  --text: oklch(0.96 0.06 270);
  --text-muted: oklch(0.76 0.06 270);
  --highlight: oklch(0.5 0.06 270);
  --border: oklch(0.4 0.06 270);
  --border-muted: oklch(0.3 0.06 270);
  --primary: oklch(0.76 0.1 270);
  --secondary: oklch(0.76 0.1 90);
  --danger: oklch(0.7 0.06 30);
  --warning: oklch(0.7 0.06 100);
  --success: oklch(0.7 0.06 160);
  --info: oklch(0.7 0.06 260);
  --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));
}

a:link, a:visited {
  color: var(--text);
  text-decoration: none;
}

div {
  border: solid 0px red;
}

h1 {
  font-size: 64px;
  margin: 0px;
}

h2 {
  margin: 0px;
  font-size: 32px;
}

p {
  font-size: 20px;
  margin: 0px;
  color: var(--text-muted);
}
