
.navContainer {
    position: fixed;
    left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: calc(40% - (40vh / 2));
    gap: 20px;
}

.navList {
    list-style-type: none;
    padding: 0px;
    display: inline-block;
    li {
        margin-top: 100%;
        margin-bottom: 100%;
        font-size: 24px;
        text-align: left;
    }
    a:hover {
        color: var(--text-muted);
        transition-duration: 400ms;
    }
}

.navRect {
    background-color: var(--info); /* #DADADA */
    width: 1.7vw; /* 32px */
    height: 42.3vh; /* 400px */
    flex-shrink: 0;
    border-radius: 1rem;
    transform-origin: 50% 50%;
    display: inline-block;
}